.bg-opacity-10 {
    background-color: rgba(255, 255, 255, 0.1);
}
.dropdown-menu {
    display: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.text-chico{
    font-size: 10px;
}

.text-super-chico{
    font-size: 8px;
}